screenshots/*
shaderpacks/*
TombManyGraves/*
usercache.json
usernamecache.json
valkyrielib/*
XaeroWaypoints/*
saves/*
XaeroWorldMap/*
resourcepacks/*
natives/*
.ReAuth.cfg
ChatTweaks/*
llibrary/*
logs/*
crash-reports/*
encyclopedia-servers/*
hammercore/*
minecraftinstance.json
manifest.json
.curseclient
